# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
# 忽略整個 release 資料夾

# 但允許 release 資料夾中的特定文件
!release/**/*.yml
!release/**/*.exe
release/
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock